<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>CoviFinder</title>
  <script src='https://cdn.jsdelivr.net/npm/chart.js@2.8.0'></script>
    <script src='https://cdn.jsdelivr.net/npm/apexcharts'></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <link href="/static/index.css" rel="stylesheet">
</head>
<style>

  table {
      margin-top: 10%;
      margin-right: auto;
      margin-left:auto;
      border-collapse: collapse;
      width: 90%;
      }
      
      th, td {
          font-size: 30px;
          text-align: center;
          padding: 3px;
      }
      th{
          color: white;
      }
      tr:nth-child(odd) {background-color: rgb(185, 185, 236);}
  </style>
<body>
<div class="container">
<table>
    <tr><td colspan="3">Status of Coronavirus Cases in India</td>
    <td style="font-size: 12px;">Last Updated: {{total.lastupdate}} IST</td>
<td rowspan="3" style="background-color: rgb(185, 185, 236);"><canvas id="myChart2"></canvas></td>
</tr>

<tr style="background-color: #7da0e0;">
<th>Confirmed</th>
<th>Active</th>
<th>Recovered</th>
<th>Death</th>
</tr>
<tr style="background-color: rgb(185, 185, 236);">
<td>{{total.totalcount}}</td>
<td>{{total.activecount}}</td>
<td>{{total.recoveredcount}}</td>
<td>{{total.deathcount}}</td>
</tr>
</table>
</div>
<canvas id="myChart" height="100"></canvas>
<!--<canvas id="line-chart" width="800" height="450"></canvas>-->
<div id="chart"></div>

{% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
            {% if (message.startswith("Logged") or message.startswith("Registered") ) %}
            <div class="alert alert-success alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                  aria-hidden="true">×</span></button>
              {{message}}
            </div>
            {% else %}
            <div class="alert alert-danger alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                  aria-hidden="true">×</span></button>
              {{message}}
            </div>
            {% endif %}

            {% endfor %} {% endif %} {% endwith %}

  <div class="site-wrapper">
    <div class="site-wrapper-inner">
      <div class="cover-container">
        <div class="masthead clearfix">
          <div class="inner">
            <h3 class="text-center masthead-brand">CoviFinder</h3>
            <nav>
              <ul class="nav masthead-nav">
                <li class="active"><a href="/">Home</a></li>
                {% if not 'logged_in' in session %}
                <li><a href="/register" data-toggle="modal" data-target="#registerModal">Register</a></li>
                <li><a href="/login" data-toggle="modal" data-target="#loginModal">Login</a></li>
                {% else %}
                <li><a class="gray">Register</a></li>
                <li><a class="gray">Login</a></li>
                {% endif %}
              </ul>
            </nav>
          </div>
        </div>

        <div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="text-dark modal-title" id="registerModalLabel">Register</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>

              <div class="modal-body">
                <form action="/signup/" method="POST">
                  <div class="form-group">
                    <label for="name" class="text-dark col-form-label">Name:</label>
                    <input type="text" class="form-control" id="name" name="name" required>
                  </div>
                  <div class="form-group">
                    <label for="username" class="text-dark col-form-label">UserName:</label>
                    <input type="text" class="form-control" id="username" name="username" required>
                  </div>
                  <div class="form-group">
                    <label for="email" class="text-dark col-form-label">Email:</label>
                    <input type="email" class="form-control" id="email" name="email" required>
                  </div>
                  <div class="form-group">
                    <label for="password" class="text-dark col-form-label">Password:</label>
                    <input type="password" class="form-control" placeholder = "Min 8 char. (1 Caps, 1 Num & 1 Special char)" id="password" name="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>
                  </div>
                  <div class="form-group">
                    <label for="confirmpassword" class="text-dark col-form-label">Confirm Password:</label>
                    <input type="password" class="form-control" id="confirmpassword" name="confirm" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>
                  </div>
              
              <div class="form-group">
                <label for="Phone" class="text-dark col-form-label">Phone No.:</label>
                <input type="text" class="form-control" id="phone" name="phone" required>
              </div>
              <div class="form-group">
                <label for="age" class="text-dark col-form-label">Age:</label>
                <input type="text" class="form-control" id="age" name="age" required>
              </div>
              <div class="form-group">
                <label for="Address" class="text-dark col-form-label">Address:</label>
                <input type="text" class="form-control" id="address" name="address" required>
              </div>
              <div class="form-group">
                <label for="City" class="text-dark col-form-label">City:</label>
                <input type="text" class="form-control" id="city" name="city" required>
              </div>
              <div class="form-group">
                <label for="State" class="text-dark col-form-label">State:</label>
                <input type="text" class="form-control" id="state" name="state" required>
              </div>
              <div class="form-group">
                <label for="BodyTemperature" class="text-dark col-form-label">Body Temperature in F:</label>
                <input type="number" class="form-control" step = "0.1" id="bd" name="bd" required>
              </div>
              <div class="form-group">
                <label for="RunnyNose" class="text-dark col-form-label">Runny Nose:</label> <br>
                <label for="rn1" class="text-dark col-form-label" class="radio-inline"><input type="radio"  id="rn1" name="rn" value="1" > Yes</label>
                <label for="rn2" class="text-dark col-form-label" class="radio-inline"><input type="radio"  id="rn2" name="rn" value="0"> No</label>
                <!-- <input type="radio" class="form-control" id="rn1" name="rn" value="1"> 
                <label for="rn1" class="text-dark col-form-label">Yes</label>
                <input type="radio" class="form-control" id="rn2" name="rn" value="0"> 
                <label for="rn2" class="text-dark col-form-label">No</label> -->
              </div>
              <div class="form-group">
                <label for="BodyAche" class="text-dark col-form-label">Body Ache:</label> <br>
                <label for="ba1" class="text-dark col-form-label" class="radio-inline"><input type="radio"  id="ba1" name="ba" value="1" > Yes</label>
                <label for="ba2" class="text-dark col-form-label" class="radio-inline"><input type="radio"  id="ba2" name="ba" value="0"> No</label>

                <!-- <div class="radio">
                  <label for="ba1" class="text-dark col-form-label"><input type="radio"  id="ba1" name="ba" value="1"> Yes </label>
                </div>
                <div class="radio">
                  <label for="ba2" class="text-dark col-form-label"><input type="radio"  id="ba1" name="ba" value="0"> No </label>
                </div> -->
                
                <!--<input type="radio" class="form-control" id="ba1" name="ba" value="1"> 
                <input type="radio" class="form-control" id="ba2" name="ba" value="0"> 
                <label for="ba1" class="text-dark col-form-label">Yes</label>
                <label for="ba2" class="text-dark col-form-label">No</label> -->
              </div>
              <div class="form-group">
                <label for="DiificultyinBreathing" class="text-dark col-form-label">Difficulty in Breathing:</label> <br>
                <label for="db1" class="text-dark col-form-label" class="radio-inline"><input type="radio"  id="db1" name="db" value="1" > Yes</label> 
                <label for="db2" class="text-dark col-form-label" class="radio-inline"><input type="radio"  id="db2" name="db" value="-1"> No</label>
                <label for="db3" class="text-dark col-form-label" class="radio-inline"><input type="radio"  id="db3" name="db" value="0"> Maybe</label>
                <!-- <input type="radio" class="form-control" id="db1" name="db" value="1"> 
                <label for="db1" class="text-dark col-form-label">Yes</label>
                <input type="radio" class="form-control" id="db2" name="db" value="0"> 
                <label for="db2" class="text-dark col-form-label">No</label> -->
              </div>
              <div class="form-group">
                <label for="DryCough" class="text-dark col-form-label">Dry Cough:</label> <br>
                <label for="dc1" class="text-dark col-form-label" class="radio-inline"><input type="radio"  id="dc1" name="dc" value="1" > Yes</label>
                <label for="dc2" class="text-dark col-form-label" class="radio-inline"><input type="radio"  id="dc2" name="dc" value="0"> No</label>
                <!-- <input type="radio" class="form-control" id="dc1" name="dc" value="1"> 
                <label for="dc1" class="text-dark col-form-label">Yes</label>
                <input type="radio" class="form-control" id="dc2" name="dc" value="0"> 
                <label for="dc2" class="text-dark col-form-label">No</label> -->
              </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Register</button>
               </form>
              </div>
            </div>
          </div>
        </div>

        <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="text-dark modal-title" id="loginModalLabel">Login</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>

              <div class="modal-body">
                <form action="/login/" method="POST">
                  <div class="form-group">
                    <label for="email" class="text-dark col-form-label">Username:</label>
                    <input type="text" class="form-control" id="email" name="username">
                  </div>
                  <div class="form-group">
                    <label for="password" class="text-dark col-form-label">Password:</label>
                    <input type="password" class="form-control" id="password" name="password">
                  </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Login</button>
                </form>
              </div>
            </div>
          </div>
        </div>

        {% block content %}
        {% endblock %}

        <div class="mastfoot">
          <div class="inner">
            <p>
              CoviFinder by MAST
            </p>
          </div>
        </div>

      </div>

    </div>

  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
</body>
<script>

  var ctx = document.getElementById("myChart2").getContext('2d');
  var myChart = new Chart(ctx, {
  type: 'pie',
  data: {
  labels: ["Active", "Recovered", "Death"],
  datasets: [{
      backgroundColor: [
      "#e74c3c",
      "#2ecc71",
      "black",   
      ],
      data:[{{total.activecount}}, {{total.recoveredcount}},{{total.deathcount}}]
  }]
  }
  });
  
  </script>
</html>