{% extends "base.html" %}

{% block content %}
{% if not 'logged_in' in session %}


<div class="mt-4 inner cover">
  <h1 class="mt-4 cover-heading" style="padding-top:10px;">CoviFinder</h1>
  <p class="lead" >
    Find the Infection Probability of Covid-19.
    Stay Safe! Stay Home!
  </p>
  
</div>
{% else %}
<div class="mt-4 inner cover">
  <h1 class="mt-4 cover-heading">Welcome {{ session['name'] }}</h1>
  <p class="lead">
    You've successfully Logged In
  </p>
  <p class="lead">
    Id: {{ session['id'] }}
  </p>
  <p class="lead">
    Name: {{ session['name'] }}
  </p>
  <p>
    Username: {{ session['username'] }}
  </p>
  <p>
    PhoneNo.: {{ session['phone'] }}
  </p>
  <p>
    InfProb: {{ session['infection'] }}&nbsp;%
  </p>
  <p class="lead">
    <a href="/logout" class="mt-2 btn btn-lg btn-default">Logout</a>
  </p>
</div>
{% endif %}

{% endblock %}